%t-body-1,
.t-body-1 {
  font: normal 500 16px/24px $f-headline;
}

%t-body-2,
.t-body-2 {
  font: normal 400 14px/20px $f-button;
}

%t-h1,
.t-h1 {
  font: $f-bold rem(29) / rem(40) $f-headline;
  letter-spacing: -1%;
}

%t-h2,
.t-h2 {
  font: $f-bold rem(29) / rem(40) $f-headline;
  letter-spacing: -1%;
}

%t-h3,
.t-h3 {
  font: $f-bold rem(23) / rem(32) $f-headline;
  letter-spacing: -1%;
}
%t-h4,
.t-h4 {
  font: $f-bold rem(23) / rem(32) $f-headline;
  letter-spacing: -1%;
}
%t-h5,
.t-h5 {
  font: $f-bold rem(23) / rem(32) $f-headline;
  letter-spacing: -1%;
}

%t-h6,
.t-h6 {
  font: $f-bold rem(14) / rem(24) $f-headline;
  letter-spacing: -1%;
}

%t-button,
.t-button {
  font: $f-medium rem(16) / rem(24) $f-button;
  letter-spacing: 4%;
}

%t-caption,
.t-label {
  font: $f-regular rem(12) / rem(17) $f-headline;
  letter-spacing: -1%;
}

%t-overline,
.t-label {
  font: $f-regular rem(12) / rem(17) $f-headline;
  letter-spacing: -1%;
}