// Colours
$c-primary: #ffc72a;
$c-secondary: #002f87;
$c-tertiary: #ccd5e7;

$c-black: #000;
$c-white: #fff;
$c-grey: #d8d8d8;

$c-bg: $c-white;
$c-text: $c-black;
$c-text--invert: $c-white;
$c-disabled: $c-grey;
$c-danger: #ae0a3f;
$c-border: $c-tertiary;

// Fonts
$f-base: 16;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

$f-heading: 'Aktiv-Grotesk-Bold', sans-serif;
$f-text-regular: 'Aktiv-Grotesk-Regular', sans-serif;
$f-text-light: 'Aktiv-Grotesk-Light', sans-serif;
$f-button: 'Aktiv-Grotesk-Medium', sans-serif;

// Layout
$l-wrapper: 1366px;
$l-wrapper-small: 1042px;
$l-column: 100px; // Column Width
$l-gutter: 24px; // Gutter Width
$l-max-columns: 12; // Total Columns For Main Container
$l-height-header: 68;
$l-heigth-megamenu-header: 80;

// Breakpoints
$bp-mobile: 600px;
$bp-tablet: 992px;
$bp-desktop: 1024px;
$bp-desktop-medium: 1200px;
$bp-desktop-large: 1440px;

// Spaces
$m-xxs: 8px;
$m-xs: 16px;
$m-sm: 24px;
$m-md: 32px;
$m-lg: 40px;
$m-xl: 64px;
$m-xxl: 80px;

// z-index
$z-content: 1;
$z-submenu: 9;
$z-header-bar: 10;
$z-header: 15;
$z-sticky-header: 15;
$z-modal: 999999;
$z-overlay: 99999;
$z-underground: -1;
$z-choices: 20;
$z-fastbooking: 10;
$z-c2c: 11;
$z-anchor: 12;
$z-filter: 11;

// Transitions
$t-hover: 0.1s;
