@import "./_dev/_uikit";
@import "./base/variables";


html {
  -ms-text-size-adjust: 100%; //sass-lint:disable-line no-vendor-prefixes
  -webkit-text-size-adjust: 100%; //sass-lint:disable-line no-vendor-prefixes

  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; //sass-lint:disable-line no-vendor-prefixes
  text-rendering: optimizeLegibility;

  font-family: $f-text-light;
  font-size: 100%;
  color: $c-text;
}

%t-h1,
.t-h1 {
  font: $f-bold rem(29) / rem(40) $f-heading;
  letter-spacing: -1%;

  @include tablet {
    font-size: rem(47);
    line-height: rem(56);
  }
}

%t-h2,
.t-h2 {
  font: $f-bold rem(29) / rem(40) $f-heading;
  letter-spacing: -1%;
}

%t-h3,
.t-h3 {
  font: $f-bold rem(23) / rem(32) $f-heading;
  letter-spacing: -1%;
}

%t-h6,
.t-h6 {
  font: $f-bold rem(14) / rem(24) $f-heading;
  letter-spacing: -1%;
}

%t-text,
.t-text {
  font: $f-light rem(16) / rem(24) $f-text-light;
  letter-spacing: -1%;

  @include tablet {
    font-size: rem(18);
    letter-spacing: 0;
  }

  p {
    font-weight: 200;
  }
}

%t-text-2,
.t-text-2 {
  font: $f-regular rem(16) / rem(16) $f-text-regular;
  letter-spacing: 1%;
}

%t-small,
.t-small {
  font: $f-regular rem(12) / rem(16) $f-text-regular;
  letter-spacing: -1%;
}

%t-button,
.t-button {
  font: $f-medium rem(16) / rem(24) $f-button;
  letter-spacing: 4%;
}

%t-label,
.t-label {
  font: $f-regular rem(12) / rem(17) $f-text-regular;
  letter-spacing: -1%;
}

.t-uppercase {
  text-transform: uppercase;
}

strong,
.t-bold {
  font-family: $f-heading;
}

.t-regular {
  font-family: $f-text-regular;
}

.t-center {
  text-align: center;
}
