@import "./_dev/_uikit";
@import "./base/typographies";
@import "./base/variables";


html {
  -ms-text-size-adjust: 100%; //sass-lint:disable-line no-vendor-prefixes
  -webkit-text-size-adjust: 100%; //sass-lint:disable-line no-vendor-prefixes

  -webkit-font-smoothing: antialiased; //sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; //sass-lint:disable-line no-vendor-prefixes
  text-rendering: optimizeLegibility;

  font-family: $f-text;
  font-size: 100%;
  color: $c-text;
}